*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

marquee {
  width: 100px;
  height: 200px;
  background-color: black;
  font-family:'Arial';

}


h1 {
  color: blue;
  font-family:'Arial';
}

h5 {
  color: #00ff00;
  font-family:'Arial';
}

h4 {
  color: #00ff00;
  font-family:'Arial';
}

p {
  color: #00ff00;
  font-family:'Arial';
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: blue;
}